extends layout

block content
  .View 
    h1.Banner EasyChat
    .Message 
      .Title
        h3 Easiest Chatting 
        h1 #{title} 
      span.Details Access Here 
    .NavButtons 
      a(href="/user")
        div.NavButton Just Dive in
