doctype html
html
  head
    title #{title} | EasyChat
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    //- link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.socket.io/4.8.1/socket.io.min.js")
  body
    block content
    block menu-tool
    block footer
  
