@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono"); */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 14px;
  color: rgb(207, 148, 148);
  background: whitesmoke;
  font-family: "Roboto", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Cantarell", "Oxygen", "Segoe UI";
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
}

a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;
}


.StartDisco {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;

  width: 240px;
  height: 240px;

  font-style: italic;
  font-size: 24px;
  font-weight: bold;

  background: linear-gradient(135deg,#ffffff,#f1f1f1);

  border-radius: 50%;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.StartDisco:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(194, 194, 194, 0.7);
}

.DiscoBox{
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;

  width: 85%;
  height: 480px;

  font-style: italic;
  font-size: 24px;
  font-weight: bold;
}

#localVideo{
  width: 45%;
  height: 65%;
  border: black;
}

#remoteVideo{
  width: 45%;
  height: 65%;
  border: black;
}