extend layout 

block content
  .View
    .DiscoBox 
      video(autoplay)#remoteVideo
      video(autoplay muted controls="false")#localVideo
      p#discoID


  script(src="/javascripts/disco.js")
