doctype html
html
  head
    title #{title} | EasyChat
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    //- link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="apple-touch-icon" sizes="180x180" href="/public/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/icons/favicon-16x16.png">
    //- <link rel="manifest" href="/public/icons/site.webmanifest">
    script(src="https://cdn.socket.io/4.8.1/socket.io.min.js")
  body
    block content
    block menu-tool
    block footer
  
